form{
    width: 40%;
    background-color: #dedbde;
    border-radius: 10px;
    padding: 15px;
    margin: 40px auto;
    box-shadow: 0 0 3px 3px #a9a6a9;
    display: flex;
    flex-direction: column;
    *{
        margin: 3px 0;
    }
    .input-wrapper{
        border-radius: 5px;
        padding: 5px 0;
        display: flex;
        flex-direction: column;
    }
    .input-wrapper:focus-within{
        background-color: #fff2ab;
        .title {
            display: initial;
        }
    }
    .title{
        display: none;
        padding: 5px;
    }
}

#create-task{
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(172,164,169,0.36);
}